In [30]:
import pandas as pd
#Importing pandas library

In [31]:
df = pd.read_excel(r"assignment_sample_data.xlsx")
#reading the data from the excel file

In [32]:
df.head()
# Displaying first 5 rows of the data

,account_number,subscription_id,rateplan_name,invoice_number,invoice_date,payment_number,payment_date,payment_status,amount
0,77de58-7bb9-f49a,000028a155,Monthly,INV005755C4,2023-02-28,P-00AEF03C,2023-02-28,Processed,25.11
1,c28566-0770-576c,0000a8c42d,Monthly - Five Month Offer,INV001E929D,2023-03-26,P-001B9388,2023-03-26,Processed,10.18
2,196d11-bafa-3abd,00006a7e2f,Monthly Subscription Packt,INV00130060,2023-02-28,P-004DB4FA,2023-03-01,Error,4.17
3,275f75-5d77-2bf4,00008b4bab,Packt Monthly Subscription,INV003B6F2E,2023-04-14,P-009FCF35,2023-04-14,Processed,10.43
4,2f8016-2237-4631,0000aebd19,Annual - Launch Offer,INV00400BA0,2023-04-29,P-00F3722C,2023-04-29,Error,104.19

In [33]:
df.shape
#To obtain the shape of the dataframe(no of rows & column)

(2001, 9)

In [34]:
df.info()
#getting the summary of the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   account_number   2001 non-null   object
 1   subscription_id  2000 non-null   object
 2   rateplan_name    2000 non-null   object
 3   invoice_number   2000 non-null   object
 4   invoice_date     2000 non-null   datetime64[ns]
 5   payment_number   2000 non-null   object
 6   payment_date     2000 non-null   datetime64[ns]
 7   payment_status   2000 non-null   object
 8   amount           2000 non-null   float64
dtypes: datetime64[ns](2), float64(1), object(6)
memory usage: 140.8+ KB

In [35]:
df.tail()
#Analyzing last 5 rows of the data

,account_number,subscription_id,rateplan_name,invoice_number,invoice_date,payment_number,payment_date,payment_status,amount
1996,788429-0f2d-9f2b,203456,Monthly Subscription Packt,INV00ABA798,2023-05-03,P-00A330F8,2023-05-04,Error,10.41
1997,0f8447-f587-9c84,0000b364fc,Packt Monthly Subscription,INV00983FE6,2023-02-17,P-0054C998,2023-02-22,Error,10.79
1998,ddc48e-ef09-63ae,8189999999999999722425625097250147491927214723...,Monthly - Launch Offer,INV003D0727,2023-04-20,P-000715ED,2023-04-21,Processed,10.45
1999,ddbd1a-955d-ac75,00000d31ac,Monthly - Launch Offer,INV007D43F7,2023-03-07,P-003CA3D8,2023-03-07,Processed,8.29
2000,"ddbd1a-955d-ac75,00000d31ac,Monthly - Launch O...",NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN

In [36]:
df = df.drop(2000)
#removing the last row from the date for the data cleaning

# From the sample data provided, make a week wise report of win back users. Users who joined back in 7- 60 days after churning are called win back users. Also, get any possible insights that you can make from the data.(use python to complete this task)

In [37]:
df = df.sort_values(by = ['account_number','invoice_date','payment_date'],ascending = [True, True, True],na_position = 'first')
df
#Organising & sorting the data

,account_number,subscription_id,rateplan_name,invoice_number,invoice_date,payment_number,payment_date,payment_status,amount
1478,00e2f5-4785-7730,0000e88d4d,Monthly - Launch Offer,INV003EA3A9,2023-02-21,P-004C2937,2023-02-21,Processed,9.70
893,00e2f5-4785-7730,0000e88d4d,Monthly - Launch Offer,INV003C1CE0,2023-03-21,P-009EF253,2023-03-21,Processed,9.33
475,00eab8-d24d-39a7,00007a2ac6,18 Months - Special Offer,INV00E8F44E,2023-04-21,P-0092EE55,2023-04-21,Processed,144.76
1913,00ede6-fd7b-50ab,0000c3d548,Packt Monthly Subscription,INV006B813A,2023-03-17,P-0036D08D,2023-03-17,Processed,10.73
1388,012ebd-59c8-6e7d,0000d8fd07,Monthly - Launch Offer,INV00BBE2F1,2023-02-16,P-00A1FFC6,2023-02-16,Processed,10.16
...,...,...,...,...,...,...,...,...,...
764,ff400f-9a04-0a41,0000e06744,Monthly - Five Month Offer,INV007F7024,2023-02-18,P-00AF2A5F,2023-02-18,Processed,4.99
1752,ff400f-9a04-0a41,0000e06744,Monthly - Five Month Offer,INV00CB36DE,2023-03-18,P-00345503,2023-03-18,Processed,4.99
1087,ff400f-9a04-0a41,0000e06744,Monthly - Five Month Offer,INV008D3F1C,2023-04-18,P-007F1AFA,2023-04-18,Processed,4.99
1948,ff400f-9a04-0a41,0000e06744,Monthly - Five Month Offer,INV006B07ED,2023-05-18,P-007CD61F,2023-05-18,Processed,9.98
1685,ff8945-3d47-f8be,00003bd99b,Monthly - Five Month Offer,INV0071AA50,2023-05-18,P-003DE009,2023-05-18,Processed,10.39

In [38]:
df[df['account_number'] == '01e0cf-55f8-f892']
#checking records for a random account

,account_number,subscription_id,rateplan_name,invoice_number,invoice_date,payment_number,payment_date,payment_status,amount
336,01e0cf-55f8-f892,0000597c25,Monthly Subscription Packt,INV0067E9AA,2023-02-28,P-00BB9491,2023-02-28,Processed,4.27
1385,01e0cf-55f8-f892,0000597c25,Monthly Subscription Packt,INV00163FF8,2023-03-31,P-009F62F7,2023-03-31,Error,10.20
1647,01e0cf-55f8-f892,0000597c25,Monthly Subscription Packt,INV00163FF8,2023-03-31,P-00B5FBE8,2023-04-01,Error,10.21
800,01e0cf-55f8-f892,0000597c25,Monthly Subscription Packt,INV00163FF8,2023-03-31,P-00282CD0,2023-04-02,Error,10.20
69,01e0cf-55f8-f892,0000248bb3,Monthly - Launch Offer,INV006F469B,2023-04-24,P-00AFDD00,2023-04-24,Processed,8.41
342,01e0cf-55f8-f892,00001c9638,Monthly Subscription Packt,INV00F55DB2,2023-04-24,P-005B7AAB,2023-04-24,Processed,2.05
1466,01e0cf-55f8-f892,0000248bb3,Monthly - Launch Offer,INV00C50E05,2023-05-24,P-00BD6CDD,2023-05-24,Processed,6.26

In [39]:
df[df['account_number'] == '086b2e-695e-5e53']['invoice_date'].shift()

624           NaT
1031   2023-02-23
892    2023-02-23
828    2023-02-23
241    2023-02-23
863    2023-03-23
1755   2023-04-23
1929   2023-04-23
544    2023-04-23
374    2023-04-23
1841   2023-04-23
Name: invoice_date, dtype: datetime64[ns]

In [40]:
df['prior_invoice_date'] = df.groupby(['account_number'])['invoice_date'].shift()
df.head()
#creating a new column to fetch the previous invoice date

,account_number,subscription_id,rateplan_name,invoice_number,invoice_date,payment_number,payment_date,payment_status,amount,prior_invoice_date
1478,00e2f5-4785-7730,0000e88d4d,Monthly - Launch Offer,INV003EA3A9,2023-02-21,P-004C2937,2023-02-21,Processed,9.70,NaT
893,00e2f5-4785-7730,0000e88d4d,Monthly - Launch Offer,INV003C1CE0,2023-03-21,P-009EF253,2023-03-21,Processed,9.33,2023-02-21
475,00eab8-d24d-39a7,00007a2ac6,18 Months - Special Offer,INV00E8F44E,2023-04-21,P-0092EE55,2023-04-21,Processed,144.76,NaT
1913,00ede6-fd7b-50ab,0000c3d548,Packt Monthly Subscription,INV006B813A,2023-03-17,P-0036D08D,2023-03-17,Processed,10.73,NaT
1388,012ebd-59c8-6e7d,0000d8fd07,Monthly - Launch Offer,INV00BBE2F1,2023-02-16,P-00A1FFC6,2023-02-16,Processed,10.16,NaT

In [41]:
df['prior_payment_status'] = df.groupby(['account_number'])['payment_status'].shift()
df
#creating a new column to fetch the previous payment status

,account_number,subscription_id,rateplan_name,invoice_number,invoice_date,payment_number,payment_date,payment_status,amount,prior_invoice_date,prior_payment_status
1478,00e2f5-4785-7730,0000e88d4d,Monthly - Launch Offer,INV003EA3A9,2023-02-21,P-004C2937,2023-02-21,Processed,9.70,NaT,NaN
893,00e2f5-4785-7730,0000e88d4d,Monthly - Launch Offer,INV003C1CE0,2023-03-21,P-009EF253,2023-03-21,Processed,9.33,2023-02-21,Processed
475,00eab8-d24d-39a7,00007a2ac6,18 Months - Special Offer,INV00E8F44E,2023-04-21,P-0092EE55,2023-04-21,Processed,144.76,NaT,NaN
1913,00ede6-fd7b-50ab,0000c3d548,Packt Monthly Subscription,INV006B813A,2023-03-17,P-0036D08D,2023-03-17,Processed,10.73,NaT,NaN
1388,012ebd-59c8-6e7d,0000d8fd07,Monthly - Launch Offer,INV00BBE2F1,2023-02-16,P-00A1FFC6,2023-02-16,Processed,10.16,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...
764,ff400f-9a04-0a41,0000e06744,Monthly - Five Month Offer,INV007F7024,2023-02-18,P-00AF2A5F,2023-02-18,Processed,4.99,NaT,NaN
1752,ff400f-9a04-0a41,0000e06744,Monthly - Five Month Offer,INV00CB36DE,2023-03-18,P-00345503,2023-03-18,Processed,4.99,2023-02-18,Processed
1087,ff400f-9a04-0a41,0000e06744,Monthly - Five Month Offer,INV008D3F1C,2023-04-18,P-007F1AFA,2023-04-18,Processed,4.99,2023-03-18,Processed
1948,ff400f-9a04-0a41,0000e06744,Monthly - Five Month Offer,INV006B07ED,2023-05-18,P-007CD61F,2023-05-18,Processed,9.98,2023-04-18,Processed
1685,ff8945-3d47-f8be,00003bd99b,Monthly - Five Month Offer,INV0071AA50,2023-05-18,P-003DE009,2023-05-18,Processed,10.39,NaT,NaN

In [42]:
df[df['account_number'] == '086b2e-695e-5e53']

,account_number,subscription_id,rateplan_name,invoice_number,invoice_date,payment_number,payment_date,payment_status,amount,prior_invoice_date,prior_payment_status
624,086b2e-695e-5e53,0000e40e85,Monthly Subscription Packt,INV00C72052,2023-02-23,P-00AACEF0,2023-02-23,Error,4.27,NaT,NaN
1031,086b2e-695e-5e53,0000e40e85,Monthly Subscription Packt,INV00C72052,2023-02-23,P-00633979,2023-02-23,Error,4.27,2023-02-23,Error
892,086b2e-695e-5e53,0000e40e85,Monthly Subscription Packt,INV00C72052,2023-02-23,P-0012E5C4,2023-02-24,Error,4.26,2023-02-23,Error
828,086b2e-695e-5e53,0000e40e85,Monthly Subscription Packt,INV00C72052,2023-02-23,P-00AF32CB,2023-02-25,Processed,4.26,2023-02-23,Error
241,086b2e-695e-5e53,0000e40e85,Monthly Subscription Packt,INV0063E2E5,2023-03-23,P-00900D2B,2023-03-23,Processed,10.19,2023-02-23,Processed
863,086b2e-695e-5e53,0000e40e85,Monthly Subscription Packt,INV00D334BA,2023-04-23,P-0050FEE9,2023-04-23,Error,10.25,2023-03-23,Processed
1755,086b2e-695e-5e53,0000e40e85,Monthly Subscription Packt,INV00D334BA,2023-04-23,P-00D570F6,2023-04-24,Error,10.24,2023-04-23,Error
1929,086b2e-695e-5e53,0000e40e85,Monthly Subscription Packt,INV00D334BA,2023-04-23,P-00BA89A3,2023-04-24,Error,10.24,2023-04-23,Error
544,086b2e-695e-5e53,0000e40e85,Monthly Subscription Packt,INV00D334BA,2023-04-23,P-005F8E89,2023-04-27,Error,10.27,2023-04-23,Error
374,086b2e-695e-5e53,0000e40e85,Monthly Subscription Packt,INV00D334BA,2023-04-23,P-008A28EE,2023-04-29,Error,10.26,2023-04-23,Error
1841,086b2e-695e-5e53,0000d577d5,Monthly - Five Month Offer,INV007705EA,2023-05-15,P-005829BC,2023-05-15,Processed,4.15,2023-04-23,Error

In [43]:
df['difference'] = df['payment_date'] - df['prior_invoice_date']
#calculating the difference between payment date and prior invoice date

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 1478 to 1685
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   account_number        2000 non-null   object
 1   subscription_id       2000 non-null   object
 2   rateplan_name         2000 non-null   object
 3   invoice_number        2000 non-null   object
 4   invoice_date          2000 non-null   datetime64[ns]
 5   payment_number        2000 non-null   object
 6   payment_date          2000 non-null   datetime64[ns]
 7   payment_status        2000 non-null   object
 8   amount                2000 non-null   float64
 9   prior_invoice_date    1444 non-null   datetime64[ns]
 10  prior_payment_status  1444 non-null   object
 11  difference            1444 non-null   timedelta64[ns]
dtypes: datetime64[ns](3), float64(1), object(7), timedelta64[ns](1)
memory usage: 203.1+ KB

In [45]:
win_back_users = df[(df['payment_status'] == 'Processed') & 
                        (df['prior_payment_status'] == 'Error') & 
                        (df['difference'] >= pd.Timedelta(days=7)) & 
                        (df['difference'] <= pd.Timedelta(days=60))]
#calculating win_back_users with the given condition

In [46]:
week_wise_users = win_back_users.groupby(pd.Grouper(key='payment_date', freq='W-MON'))['account_number'].nunique()
week_wise_users
#calculating win_back_users per week

payment_date
2023-02-20    1
2023-02-27    0
2023-03-06    0
2023-03-13    0
2023-03-20    1
2023-03-27    1
2023-04-03    0
2023-04-10    0
2023-04-17    1
2023-04-24    2
2023-05-01    2
2023-05-08    2
2023-05-15    2
Freq: W-MON, Name: account_number, dtype: int64